In [11]:
import pandas as pd

In [15]:
brod_2020 = pd.read_csv('./data/broadband_data_2020October.csv')
brod_2019 = pd.read_csv('./data/broadband_data_2019November.csv')
brod_zip = pd.read_csv('./data/broadband_data_zipcode.csv')

In [16]:
brod_2020

,Data is to be used only for analysis purposes related to broadband mapping,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,For questions contact bbdata@microsoft.com,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Broadband availability in the United States ba...,NaN,NaN,NaN,NaN
3,Fourteenth Broadband Deployment Report: https:...,NaN,NaN,NaN,NaN
4,Form 477 data as of December 2019,NaN,NaN,NaN,NaN
...,...,...,...,...,...
3155,WY,56037,Sweetwater County,0.9422,0.4
3156,WY,56039,Teton County,0.9508,0.623
3157,WY,56041,Uinta County,0.9963,0.431
3158,WY,56043,Washakie County,0.8903,0.571
3159,WY,56045,Weston County,0.8937,0.152

In [17]:
brod_2019

,ST,COUNTY ID,COUNTY NAME,BROADBAND AVAILABILITY PER FCC,BROADBAND USAGE
0,AL,1001,Autauga County,0.81,0.28
1,AL,1003,Baldwin County,0.88,0.30
2,AL,1005,Barbour County,0.59,0.18
3,AL,1007,Bibb County,0.29,0.07
4,AL,1009,Blount County,0.69,0.09
...,...,...,...,...,...
3138,WY,56037,Sweetwater County,0.93,0.24
3139,WY,56039,Teton County,0.94,0.48
3140,WY,56041,Uinta County,0.66,0.21
3141,WY,56043,Washakie County,0.76,0.37
3142,WY,56045,Weston County,0.34,0.09

In [18]:
brod_zip

,ST,COUNTY NAME,COUNTY ID,POSTAL CODE,BROADBAND USAGE,ERROR RANGE (MAE)(+/-),ERROR RANGE (95%)(+/-),MSD
0,SC,Abbeville,45001,29639,0.948,0.034,0.110,0.002
1,SC,Abbeville,45001,29620,0.398,0.002,0.007,0.000
2,SC,Abbeville,45001,29659,0.206,0.152,0.608,0.043
3,SC,Abbeville,45001,29638,0.369,0.010,0.031,-0.001
4,SC,Abbeville,45001,29628,0.221,0.014,0.043,0.000
...,...,...,...,...,...,...,...,...
32730,TX,Zavala,48507,78839,0.514,0.006,0.018,-0.001
32731,TX,Zavala,48507,78872,0.071,0.020,0.061,0.000
32732,SD,Ziebach,46137,57622,0.000,0.110,0.406,0.031
32733,SD,Ziebach,46137,57748,0.000,0.065,0.228,0.013
32734,SD,Ziebach,46137,57623,0.299,0.034,0.110,0.002